@{
    ViewBag.Title = "Project Requests Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<FYPM.Models.StudentProjectRequest>

<div class="card p-3 mt-3">
    <div class="card-title d-flex flex-wrap justify-content-between align-items-center mb-0">
        <h3 class="card-label">
            Project Requests Approval
        </h3>

    </div>
    <div class="card-body">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="wrapper wrapper-content table-responsive">
                                <table class="table cstm_table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>RequestId</th>
                                            <th>ProjectTitle</th>
                                            <th>StudentID</th>
                                            <th>StudentName</th>
                                            <th>RequestTime</th>
                                            <th>IsApproved</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var request in Model)
                                        {
                                            var fullName = request.User.FirstName + " " + request.User.LastName;
                                            <tr>
                                                <td>@request.RequestId</td>
                                                <td>@request.ProjectDetail.Title</td>
                                                <td>@request.User.CustomId</td>
                                                <td>@fullName</td>
                                                <td>@request.RequestTime</td>
                                                <td>
                                                    @if (request.IsApproved.HasValue && request.IsApproved.Value)
                                                    {
                                                        <span class="badge badge-success">@request.IsApproved</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-danger">@request.IsApproved</span>
                                                    }

                                                </td>
                                                <td>
                                                    @if (request.IsApproved.HasValue && request.IsApproved.Value)
                                                    {
                                                        <span class="badge badge-success">Approved</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-danger">Pending</span>
                                                    }
                                                </td>
                                                <td>
                                                    @if (!(request.IsApproved.HasValue && request.IsApproved.Value))
                                                    {
                                                        <button type="button" class="btn btn-primary" onclick="approveProjectRequest('@request.RequestId', this)">Approve Request</button>
                                                    }
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    function approveProjectRequest(requestId, button) {
        $.ajax({
            url: '/Project/ApproveProjectRequest',
            method: 'post',
            data: requestId,
            data: { 'requestId': requestId },
            success: function (response) {
                if (response == 1) {
                    alert("Project Request Approved Successfully");
                    $(button).text('Approved').attr('disabled', true);
                    window.location.href = '/Project/ProjectRequests';
                } else {
                    alert("There was an error approving the request. Please try again.");
                }
            }
        });
    }
</script>