@model List<FYPM.Models.ProjectList>
@{
    ViewBag.Title = "StudentProjectGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
}

<h2 style="margin-left:10px">List of Projects offered</h2>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="wrapper wrapper-content">
                        <div class="row">
                            <table class="table  table-hover table-responsive table-striped" id="mttable">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Project Description</th>
                                        <th>Total Marks</th>
                                        <th>Students Allowed</th>
                                        <th>Project Request</th>
                                    </tr>
                                </thead>
                                <tbody id="table_body" class="scrollable">
                                    @foreach (var projectlist in Model)
                                    {
                                        <tr>
                                            <td>@projectlist.Title</td>
                                            <td>@projectlist.ProjectDescription</td>
                                            <td>@projectlist.TotalMarks</td>
                                            <td>@projectlist.StudentsAllowed</td>
                                            <td>
                                                <a data-project-id="@projectlist.ProjectId" class="btn btn-success register-button">Project Request</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $(".register-button").click(function () {
            var projectId = $(this).data("project-id");

            $.ajax({
                type: "POST",
                url: "/Project/ProjectRequest",
                data: { projectId: projectId },
                success: function (response) {
                    if (response == 1) {
                        alert("Project request sent to supervisor!");
                    } else {
                        alert("Failed to send project request. " + response.message);
                    }
                },
                error: function () {
                    alert("An error occurred while registering the project.");
                }
            });
        });
    });
</script>

